@model CalledWebMVC.Models.ViewModels.TaskFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<hr />
<h4>Editar</h4>
<hr />
<div class="row">
    <div class="form-group col-md-12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Task.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Task.Title" class="control-label"></label>
                    <input asp-for="Task.Title" class="form-control" />
                    <span asp-validation-for="Task.Title" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Task.Datecreated" class="control-label"></label>
                    <input asp-for="Task.Datecreated" class="form-control" />
                    <span asp-validation-for="Task.Datecreated" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Task.DateDone" class="control-label"></label>
                    <input asp-for="Task.DateDone" class="form-control" />
                    <span asp-validation-for="Task.DateDone" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-4">
                    <label asp-for="Task.FunctionaryId" class="control-label"></label>
                    <select asp-for="Task.FunctionaryId" asp-items="@(new SelectList(Model.Functionaries,"Id","Name"))" class="form-control"></select>
                    <span asp-validation-for="Task.FunctionaryId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Task.Categoria" class="control-label"></label>
                    <input asp-for="Task.Categoria" class="form-control" />
                    <span asp-validation-for="Task.FunctionaryId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Task.Sprint" class="control-label"></label>
                    <input asp-for="Task.Sprint" class="form-control" />
                    <span asp-validation-for="Task.Sprint" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Task.Description" class="control-label"></label>
                <textarea rows="8" cols="40" asp-for="Task.Description" class="form-control"> </textarea>
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" asp-route-id="@Model.Task.Id">Excluir</a>
                <a asp-action="Index" class="btn btn-default">Cancelar</a>
            </div>

        </form>


            <!-- Modal -->
            
            <input type="hidden" asp-for="Task.Id" />
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
                        </div>
                        <div class="modal-body">
                            <p><strong>Deseja realmente excluir essa tarefa?</strong></p>
                            <p>@Html.DisplayNameFor(model => model.Task.Id) : @Html.DisplayFor(model => model.Task.Id)</p>
                            <p>@Html.DisplayNameFor(model => model.Task.Title) : @Html.DisplayFor(model => model.Task.Title)</p>
                        </div>
                        
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Task.Id" />
                            <input type="submit" class="btn btn-primary" value="Sim"/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                        </form>
                    </div>
                </div>
            </div> <!-- /.modal -->

            
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

