@model IEnumerable<CalledWebMVC.Models.Funcionary>

@{
    ViewData["Title"] = "Index";
}

<h1>Functionary</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Criar novo</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="row">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeContract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeContract)
            </td>
            <td>
                <a asp-action="Edit" class="text-warning" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" class="text-success" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" class="text-danger" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
